@tailwind base;
@tailwind components;
@tailwind utilities;

/* General reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container */
.main {
    background-color: rgb(40, 40, 40);
    color: white;
    width: 100vw;
    height: 100vh;
}

/* Active state for main container */
.active {
    background-color: rgb(231, 230, 230);
    color: black;
    /* Change text color to black */
}

/* Specific elements to change white to black when active */
.active .resume,
.active .linkedin,
.active .git {
    filter: invert(0%) brightness(0%);
    /* Set filter to make icons black */
}

/* Navigation bar */
.nav-main {
    padding: 10px;
}


/* Navigation elements */
.elements {
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
    margin-right: 44px;
}

.elements li {
    list-style: none;
    margin: 5px;
    cursor: pointer;
}

/* Resume, LinkedIn, Git icons */
.resume,
.linkedin,
.git {
    width: 50px;
    height: 50px;
    filter: invert(100%) brightness(200%);
    /* Icons are white initially */
}

.resume img,
.linkedin img,
.git img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

/* Switch toggle */
.liquid-3 {
    --primary: #fff;
    --secondary: #000;
    --time: 0.6s;
    appearance: none;
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 35px;
    background: var(--primary);
    border-radius: 20em;
    transform: translateX(0.5px);
    transition: transform var(--time) cubic-bezier(0.75, 0, 0.75, 50);
    overflow: hidden;
}

.liquid-3::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    transform: translate(-25%, -50%);
    left: 50%;
    top: 50%;
    background: radial-gradient(closest-side circle at 12.5% 50%, var(--secondary) 50%, #0000 0),
        radial-gradient(closest-side circle at 87.5% 50%, var(--secondary) 50%, #0000 0),
        #f000;
    transition: transform var(--time) cubic-bezier(0.75, 0, 0.75, 1.3);
}

.liquid-3:checked {
    transform: translateX(-0.5px);
}

.liquid-3:checked::before {
    transform: translate(-75%, -50%);
}

/* Landing content */
.landing {
    padding-top: 20px;
    padding-left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-head {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    padding-left: 50px;
}

.landing-img {
    height: 300px;
    width: 300px;
    margin-right: 80px;
}

.landing-img img {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.landing-p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding-top: 40px;
    
}

/* Change text and icons when .active is applied */
.active .landing-head,
.active .landing-p {
    color: black;
    /* Change text color to black */
}

.active .liquid-3 {
    --primary: #000;
    --secondary: #fff;
    background: var(--primary);
    /* Switch button background to black when active */
}

/* Skill Section */
.skill {
    text-align: center;
    padding: 30px;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

.skill-head{
    padding: 10px;
    font-size: 25px;
}

.skill-main{
    padding: 10px;
    font-size: 25px;
}

.skill-p{
    padding: 10px;
    font-size: 25px;
}

/*EDUCATION*/
.edu{
    text-align: center;
    padding: 30px;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

.edu h1{
    font-size: 35px;
}

.edu a{
    color: rgb(143, 143, 248);
}

.edu h4{
    padding: 5px;
}